.footer {
    width: 350px;
    height: 400px;
    border-radius: 18px;
    box-shadow: 0 15px 18px black;
}
.main {
    width: 450px;
    height: 430px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 14px 13px;
    margin: 0 auto; 
    box-shadow: rgba(0, 0, 0, 0.5);   
}

.main img {
    width: 100%;
    height: 300px;
}